<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        <!-- Azure Active Directory Logo -->
        <!-- https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps -->
        <a href="https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-whatis">
          <img src="{{ "/assets/img/ms-logo.png" | relative_url}}" alt="Microsoft Logo" />
        </a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        <p class="view"><a href="https://bintray.com/jnchi/aad">View the Debian Package Repository on Bintray <small>jnchi/aad</small></a></p>
        <p class="view"><a href="https://launchpad.net/~jnchi/+archive/ubuntu/ppa">View the Personal Package Archive on Launchpad<small>ubuntu/ppa</small></a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <img src="{{ "/assets/img/cn-logo.png" | relative_url}}" alt="CyberNinjas Logo" />
        <p>This project is maintained by <a href="https://cyberninjas.com">CyberNinjas</a></p>
        <p class="view"><a href="{{ site.github.owner_url }}"><small>View GitHub Organization</small></a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
